<div id="shopify-section-featured-products" class="shopify-section index-section">
	<div class="page-width">

		{% if section.settings.title != blank %}
			<div class="section-header text-center">
				<h2>{{ section.settings.title | escape }}</h2>
			</div>
		{% else %}
			<div class="section-header text-center">
            	<h2>Section Title</h2>
        	</div>
        {% endif %}

		<!-- items grid -->

		{%- assign max_height = 250 -%}
		{%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}

		{%- assign collection = collections[section.settings.collection] -%}
		<ul class="grid grid--uniform grid--view-items">

			{% for product in collection.products limit: product_limit %}
				
			    <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
			    	<div class="grid-view-item__image-wrapper">
						<a href="{{ product.url }}" class="grid__image">
							<!-- img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}"-->
						</a>
						
					    {% include 'product-card-grid', max_height: max_height, product: product %}
					    <button type="button">Add to Cart</button>
				    </div>
			    </li>

			     
		    {% endfor %}
		
		</ul>

	</div>
</div>


{% schema %}
  {
    "name": "Featured-Products",
    "tag": "section",

    "settings": [
    	{
    		"type": "text",
    		"id": "title",
    		"label": "Heading",
    		"default": "Featured Products"
    	},
        

        {
        	"id": "collection",
        	"type": "collection",
        	"label": "Collection"
        }
        
        
    ],
    "presets": [
    	{
    		"name": "Featured Products",
    		"category": "custom section"
    	}
    ]
  }
{% endschema %}

{% stylesheet %}

.grid-view-item__image-wrapper {
    margin: 0;
    position: relative;
    width: 100%;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
